.container {
    width: 500px;
    height: 500px;
    background: #E4FDE1;
    margin: 10px auto;
}
ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    font-family: 'Audiowide';
    color: #E4FDE1;
    width: auto;
}
ul li {
    background: #456990;
    width: 30%;
    height: 100px;
    border: 1px solid #028090;
    margin-top: 10px;
    text-align: center;
    font-size: 2rem;
    padding-top: 3rem;
}
.empty {
    background: #DAD4EF;
    border: 2px solid #114B5F;
}
h1 {
    color: #333;
    font-family: 'Sofia';
    text-align: center;
    
}